@font-face {
    font-family: 'RobotoMono';
    src: local('Roboto Mono Regular'), local('RobotoMono-Regular'),
        url('../fonts/Roboto_Mono/RobotoMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}